@font-face {
  font-family: "NanumSquareNeo-Variable";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/NanumSquareNeo-Variable.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "NanumSquareNeo-Variable";
  margin: 0;
}
a {
  color: #222;
  text-decoration: none;
}
/* Dropdown */
.Dropdown {
  display: inline-block; /* content 양 만큼 줄어든다. */
  width: 200px;
}
.Dropdown .dropdown-btn {
  width: inherit; /* 부모의 값을 상속 받아서 사용 */
  padding: 10px; /* height로 주는 것보다 padding으로 주는 게 좋음  */
  font-size: 15px;
  background: yellowgreen;
  color: white;
  border: none;
  outline: none; /* 버튼을 누르게 되면 자동적으로 아웃라인이 생김 -> 그래서 없애주는 것 */
  cursor: pointer;
}
.Dropdown .dropdown-submenu {
  display: none;
  width: inherit;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.17);
}
.Dropdown .dropdown-submenu a {
  display: block;
  padding: 7px;
  text-align: center;
  cursor: pointer;
  color: darkgray;
}
.Dropdown .dropdown-submenu a:hover {
  background-color: #eee;
}
.Dropdown:hover .dropdown-submenu {
  display: block;
}

/* Loding */
.Loding {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
} /* 정중앙에서 시작*/

.Loding .loding {
}
.Loding .loding span {
  display: inline-block; /* span은 원래 iline 요소 , 근데 inline-block으로 두면 줄이 바뀜*/
  width: 20px;
  height: 20px;
  margin: 10px;
  background-color: gray;
  border-radius: 50%;
  animation: loding 1s 0s linear infinite;
}
.Loding .loding span:nth-child(1) {
  animation-delay: 0s;
  background-color: crimson;
}
.Loding .loding span:nth-child(2) {
  animation-delay: 0.2s;
  background-color: dodgerblue;
}
.Loding .loding span:nth-child(3) {
  animation-delay: 0.4s;
  background-color: yellowgreen;
}
@keyframes loding {
  /* 이름은 상관없음 className과 겹쳐도 상관없다. */
  0% {
    opacity: 0;
    scale: 0.5;
  }
  50% {
    opacity: 1;
    scale: 1.2;
  }
  100% {
    opacity: 0;
    scale: 0.5;
  }
}
/* BeforeAfter */
.BeforeAfter {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.BeforeAfter .gnb a {
}
.BeforeAfter .gnb a:before {
  content: "01";
  background-color: royalblue;
  color: #fff;
  width: 20px;
  height: 20px; /* 그냥 높이 넓이값을 주면 안바뀜 inline 속성이라 */
  display: inline-block; /* inline-block 을 주면 줄바꿈은 안되대 변경 가능*/
  text-align: center;
  line-height: 20px;
  border-radius: 50%;
  margin-right: 5px;
  font-size: 12px;
}
.BeforeAfter .gnb a:after {
  content: "update";
  background-color: crimson;
  color: #fff;
  margin-left: 2px;
  padding: 2px;
  border-radius: 5px;
}
/* Netflix */
.Netflix {
  box-sizing: border-box;
  margin: 0;
  background-color: #000;
  color: #fff;
}
.faq {
}
.faq-inner {
  width: 700px;
  margin: auto;
}
.faq-inner h1 {
  text-align: center;
  font-size: 50px;
  font-weight: 500;
}
.accordion {
  font-size: 16px;
}
.accordion .title,
.accordion .content {
  background-color: #303030;
  padding: 10px 15px;
  margin-bottom: 7px;
}
.accordion .title {
  cursor: pointer;
}
.accordion .content {
  display: none;
}
